<div class="splash-screen-items">
  <h1 class="splash-logo">Snapbudget</h1>
  <div class="space-holder"></div>
  <div class="splash-login-signup">
    <%= link_to 'LOGIN', new_user_session_url, class:"splash-login-link" %>
    <%= link_to 'SIGN UP', new_user_registration_url, class:"splash-signup-link" %>
  </div>
</div>
