<h1>Categories</h1>

<div id="categories">
  <% if can? :read, @categories%>
    <% @categories.each do |category| %>
      <%= link_to category do %>
        <%= render category %>
      <% end %>
      <p>
      </p>
    <% end %>
  <% end %>
</div>

<%= link_to "New category", new_category_path %>
